#isM {display: none;}
@media (max-width: 600px) {
    #isM {display: block;}
    #notM {display: none;}
}
* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    width: 100vw;
    min-height: 100vh;
    font-family: "Oswald", 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}
#isM header {
    background-color: burlywood;
    height: 100px;
    width: 100vw;
    position: relative;
    justify-content: space-between;
}
#isM .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#isM .PackH {
    font-size: 90px;
    color: black;
    text-align: center;
}

#isM #desc {
    width: 100vw;
    height: 600px;
    position: relative;
    background-image: url('Images/Warehouse.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#isM .square {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* White text color inside the bubble */
    font-size: 20px; /* Adjust font size inside the bubbles */
}
#isM .square .dc1,
#isM .square .dc2,
#isM .square .dc3,
#isM .square .dc4 {
    position: absolute; /* This ensures positioning works */
}

#isM .dc1 {
    top: 25%;
    left: 10%;
}
#isM .dc2 {
    top: 25%;
    left: 50%;
}
#isM .dc3 {
    bottom: 5%;
    left: 10%;
}
#isM .dc4 {
    bottom: 5%;
    left: 50%;
}
#isM .dcH {
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 150px;
    position: absolute;
    top: 0;
    text-align: center;
    color: white;
    font-size: 35px;
}
#isM footer {
    background-color: burlywood;
    height: 150px;
    width: 100vw;
    font-size: 10px;
    position: relative;
}
#isM .info {
    font-size: 10px;
}
#isM .copyright {
    position: absolute;
    font-size: 5px;
    padding-left: 45%;
    top: 85%;
}
#isM .HS {
    position: absolute;
    height: 150px;
    width: 150px;
    left: 15%;
    top: 0%;
}
#notM header {
    background-color: burlywood;
    height: 400px;
    width: 100vw;
    position: relative;
    justify-content: space-between;
}
#notM .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
#notM .PackH {
    font-size: 275px;
    color: black;
    text-align: center;
}

#notM #desc {
    width: 100vw;
    height: 1200px;
    position: relative;
    background-image: url('Images/Warehouse.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#notM .square {
    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* White text color inside the bubble */
    font-size: 20px; /* Adjust font size inside the bubbles */
}
#notM .square .dc1,
#notM .square .dc2,
#notM .square .dc3,
#notM .square .dc4 {
    position: absolute; /* This ensures positioning works */
}

#notM .dc1 {
    top: 25%;
    left: 25%;
}
#notM .dc2 {
    top: 25%;
    left: 50%;
}
#notM .dc3 {
    bottom: 5%;
    left: 25%;
}
#notM .dc4 {
    bottom: 5%;
    left: 50%;
}
#notM .dcH {
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 150px;
    position: absolute;
    top: 0;
    text-align: center;
    color: white;
    font-size: 100px;
}
#notM footer {
    background-color: burlywood;
    height: 200px;
    width: 100vw;
    font-size: 30px;
    position: relative;
}
#notM .info {
    font-size: 20px;
}
#notM .copyright {
    position: absolute;
    font-size: 10px;
    padding-left: 45%;
    top: 85%;
}
#notM .HS {
    position: absolute;
    left: 15%;
    top: 0%;
}